.portofolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portofolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    backdrop-filter: blur(2px);
}

.portofolio__item:hover {
    border-color: var(--color-primary);
    background: transparent;
}

.portofolio__item-image {
    border-radius: 1rem;
    overflow: hidden;
}

.portofolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portofolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.logo-1 {
    text-shadow: 2px 2px 4px #000000;
    margin: 0.5rem 0.3rem;
    position: absolute;
    width: 40px;
}

.logo-22 {
    filter: drop-shadow(2px 2px 2px black);
    text-shadow: 2px 2px 4px #000000;
    margin: 3.5rem 0.3rem;
    position: absolute;
    width: 40px;
}

/* ================= Media Queries (Medium Devices) ===================== */
@media screen and (max-width: 1024px) {
    .portofolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ================= Media Queries (Small Devices) ===================== */
@media screen and (max-width: 600px) {
    .portofolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}